<footer class="bg-dark text-white pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0">
        <h5 class="mb-4">Thibault Guillonneau</h5>
        <p>Passionné par l'informatique et par l'immensité des possibilités qu'elle propose.</p>
      </div>
      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="mb-4">Liens rapides</h5>
        <ul class="list-unstyled">
          <li><a href="/"         class="text-white">Accueil</a></li>
          <li><a href="/about/"   class="text-white">À propos</a></li>
          <li><a href="/projects/" class="text-white">Projets</a></li>
          <li><a href="/contact/" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="mb-4">Restons connectés</h5>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/thibault-guillonneau/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://github.com/ThibaultG10">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <hr class="my-4 bg-light">
    <div class="text-center pb-3">
      &copy; 2025 Thibault Guillonneau
    </div>
  </div>
</footer>
