<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand fw-bold" href="/">Thibault Guillonneau</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNav"><span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Accueil</a></li>
        <li class="nav-item"><a class="nav-link {% if page.url.startsWith('/about/') %}active{% endif %}" href="/about/">À propos</a></li>
        <li class="nav-item"><a class="nav-link {% if page.url.startsWith('/projects/') %}active{% endif %}" href="/projects/">Projets</a></li>
        <li class="nav-item"><a class="nav-link {% if page.url.startsWith('/contact/') %}active{% endif %}" href="/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
